@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700';
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

body {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(90deg, #fcf0e3, #fde2c5, #fdd5a8, #fcc78b, #fab96f);
   
}

.title {
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 50px;
  
}
 
.redditPics { 
    border-radius: 50%;
 
}

.main {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Abril Fatface', cursive;
    color: white;
   
}

h2 {
    font-size: 35px;
    width: 375px;
    text-align: center;
}

.orange {
    margin-top: 50px;
}

a {
    font-size: 75px;
    text-decoration: none;
    margin-top: 50px;
    color: orange;
    margin-bottom: 100px;
}

img {
    width: 300px;
    height: 300px;
    border: 50%;
}

.title p {
  display: inline-block;
  font-family: 'Open Sans';
  font-size: 75px;
  color: black;
  text-transform: uppercase;
  position: relative;
  margin: 0 20px;
  opacity: 0.0;
  animation: port 3s 1 forwards;
  -webkit-animation: port 3s 1 forwards;
}

.title p:nth-of-type(2){
  animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
}

.title p:nth-of-type(3){
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}

.title p:nth-of-type(4){
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
}

.title p:nth-of-type(5){
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}

.title p:nth-of-type(6){
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

.title p:nth-of-type(7){
  animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
}

.title p:nth-of-type(8){
  animation-delay: 0.7s;
  -webkit-animation-delay: 0.7s;
}

.title p:nth-of-type(9){
  animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
}

.title p:nth-of-type(10){
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
  }

  .title p:nth-of-type(11){
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
  }
  
  .title p:nth-of-type(12){
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
  }

  .title p:nth-of-type(13){
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
  }
  
  

  

.title:hover p {
  animation: reset 1s 1;
  -webkit-animation: reset 1s 1 ;
}

@keyframes port {
  0%{
    transform: rotateY(90deg) translateY(25%);
    opacity: 0.0;
  }
  100%{
    transform: rotateY(0deg) translateY(0%);
    opacity: 1.0;
  }
}

@-webkit-keyframes port {
  0%{
   -webkit-transform: rotateY(90deg) translateY(25%);
    opacity: 0.0;
  }
  100%{
    -webkit-transform: rotateY(0deg) translateY(0%);
    opacity: 1.0;
  }
}

@keyframes reset {
  0%{}
  100%{}
}

@-webkit-keyframes reset {
  0%{}
  100%{}
}
